{% extends "base.html" %}

{% block title %}
    Вход
{% endblock %}

{% block main %}
    <div class="sign_in">
        <div class="sign_in_text">
            Вход
        </div>
        <div class="sign_in_form">
            <form action="{{ url_for('login') }}" method="post">
                {{ form.csrf_token }}
                Введите логин: {{ form.id_ }}<br>
                Введтие пароль: {{ form.password }}<br>
                {{ form.submit }}
            </form>
        </div>
    </div>
{% endblock %}