{% extends "base.html" %}

{% block title %}
    Учебники
{% endblock %}

{% block main %}
    <table border="1">
        <tr>
            <td>
                Предмет
            </td>
            <td>
                Ссылка
            </td>
        </tr>
        {% for textbook in textbooks %}
        <tr>
            <td>
                {{ textbook.subject }}
            </td>
            <td>
                <a href="{{ url_for('student_textbooks_download', id_=textbook.id_) }}">ссылка</a>
            </td>
        </tr>
        {% endfor %}
    </table>
{% endblock %}