{% extends "base.html" %}

{% block title %}
    Расписание
{% endblock %}

{% block main %}
    {{ weekday }}<br>
    <a href="{{ url + '/previous' }}">Предыдущий день</a><br>
    <a href="{{ url + '/next' }}">Следующий день</a><br>
    <a href="{{ url_for('student_timetable_today') }}">Сегодня</a><br>
    <table border="1">
        <tr>
            <td>№</td>
            <td>Начало</td>
            <td>Конец</td>
            <td>Предмет</td>
            <td>Кабинет</td>
            <td>Домашнее задание</td>
        </tr>
        {% for lesson in lessons %}
            <tr>
                <td>{{ loop.index }}</td>
                <td>{{ lesson.datetime.time().strftime('%H:%M') }}</td>
                <td>{{ (lesson.datetime + delta(minutes=lesson.duration)).time().strftime('%H:%M') }}</td>
                <td>{{ lesson.subject.name }}</td>
                <td>{{ lesson.lesson_cabinet_data.number }}</td>
                <td>
                    {% if lesson.homework %}
                        {{ lesson.homework }}
                    {% else %}
                        НЕЗАДАНО УРААА АОАОАОА !!!!
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}