{% extends "/admin/base.html" %}

{% block title %}
    {% if new_form is defined %}
        New student
    {% elif update_form is defined %}
        Edit {{ current_student.student_user_data.name }}{{ current_student.student_user_data.surname }}
    {% else %}
        Students
    {% endif %}
{% endblock %}

{% block main %}
    <table border="1">
        <tr>
            <td>ID</td>
            <td>ФИ</td>
            <td>класс</td>
            <td>оценки</td>
            <td>родители</td>
            <td>достижения</td>
        </tr>
        {% for student in students %}
        <tr>
            <td>
                <a href="{{ url_for('admin_panel_students_update', id_=student.id_) }}">{{ student.id_ }}</a>
            </td>
            <td>{{ student.student_user_data.surname }} {{ student.student_user_data.name }}</td>
            <td><a href="{{ url_for('admin_panel_classes', id_=student.student_class_data.id_) }}">{{ student.student_class_data.number }}{{ student.student_class_data.symbol }}</a></td>
            <td>
                <a href="{{ url_for('admin_panel_rates', filter=student.id_, field='id_') }}">оценки</a>
            </td>
            <td>
                <a href="{{ url_for('admin_panel_mothers_update', id_=student.mother.id_) }}">Мама</a><br>
                <a href="{{ url_for('admin_panel_fathers_update', id_=student.father.id_) }}">папа</a>
            </td>
            <td>
                <a href="{{ url_for('admin_panel_students_achievements', id_=student.id_) }}">достижения</a>
            </td>
        </tr>
        {% endfor %}
    </table>
    <div>
        <a href="{{ url_for('admin_panel_students_new') }}">Новый ученик</a>
    </div>
{% endblock %}
{% block new %}
    {% if new_form is defined %}
        <form action="{{ url_for('admin_panel_students_new') }}" method="post">
            {% for field, error in new_form.errors.items() %}
                <p>Error(s): {{ ", ".join(error) }}</p>
            {% endfor %}
            {{ new_form.csrf_token }}
            {{ new_form.name }}<br>
            {{ new_form.surname }}<br>
            {{ new_form.password }}<br>
            {{ new_form.password_check }}<br>
            {{ new_form.email }}<br>
            {{ new_form.class_id }}<br>
            {{ new_form.mother_id }}<br>
            {{ new_form.father_id }}<br>
            {{ new_form.submit }}
        </form>
    {% endif %}
{% endblock %}
{% block update %}
    {% if update_form is defined %}
        <form action="{{ url_for('admin_panel_students_update', id_=current_student.id_) }}" method="post">
            {% for field, error in update_form.errors.items() %}
                <p>Error(s): {{ ", ".join(error) }}</p>
            {% endfor %}
            {{ update_form.csrf_token }}
            {{ update_form.name }}<br>
            {{ update_form.surname }}<br>
            {{ update_form.password }}<br>
            {{ update_form.password_check }}<br>
            {{ update_form.email }}<br>
            {{ update_form.class_id }}<br>
            {{ update_form.mother_id }}<br>
            {{ update_form.father_id }}<br>
            {{ update_form.score }}<br>
            {{ update_form.achievements }}<br>
            {{ update_form.submit }}
        </form>
        <a href="{{ url_for('admin_panel_students_remove', id_=current_student.id_) }}">Удалить</a>
    {% endif %}
{% endblock %}