{% extends "/admin/base.html" %}

{% block title %}
    {% if new_form is defined %}
        New subject
    {% elif update_form is defined %}
        Edit {{ current_subject.name }} subject
    {% else %}
        subjects
    {% endif %}
{% endblock %}

{% block main %}
    <table border="1">
        <tr>
            <td>ID</td>
            <td>Название</td>
        </tr>
        {% for subject in subjects %}
        <tr>
            <td>
                <a href="{{ url_for('admin_panel_subjects_update', id_=subject.id_) }}">{{ subject.id_ }}</a>
            </td>
            <td>{{ subject.name }}</td>
        </tr>
        {% endfor %}
    </table>
    <div>
        <a href="{{ url_for('admin_panel_subjects_new') }}">Новый предмет</a>
    </div>
{% endblock %}
{% block new %}
    {% if new_form is defined %}
        <form action="{{ url_for('admin_panel_subjects_new') }}" method="post">
            {% for field, error in new_form.errors.items() %}
                <p>Error(s): {{ ", ".join(error) }}</p>
            {% endfor %}
            {{ new_form.csrf_token }}
            {{ new_form.name }}<br>
            {{ new_form.submit }}
        </form>
    {% endif %}
{% endblock %}
{% block update %}
    {% if update_form is defined %}
        <form action="{{ url_for('admin_panel_subjects_update', id_=current_subject.id_) }}" method="post">
            {% for field, error in update_form.errors.items() %}
                <p>Error(s): {{ ", ".join(error) }}</p>
            {% endfor %}
            {{ update_form.csrf_token }}
            Текущее название: {{ current_subject.name }}, Введите новое: {{ update_form.name }}<br>
            {{ update_form.submit }}
        </form>
        <a href="{{ url_for('admin_panel_subjects_remove', id_=current_subject.id_) }}">Удалить</a>
    {% endif %}
{% endblock %}