<!doctype html>
<html lang="en">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/base.css') }}">
    <title>
        {% block title %}
        
        {% endblock %}
    </title>
    <body>
        <div class="header">
            <div class="logo">
                <a href="{{ url_for('index') }}">
                    <img src="{{ url_for('static', filename='/images/logo.png')}}">
                </a>
            </div>
            <div class="search">
            </div>
            <div class="account">
                <div class="account_image">
                </div>
                <div class="account_name">
                </div>
            </div>
        </div>
        <div class="main">
            {% block main %}
            
            {% endblock %}
        </div>
    </body>
</html>