<!doctype html>
<html lang="en">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/base.css') }}">
    <title>
        {% block title %}
        
        {% endblock %}
    </title>
    <body>
        <div class="header">
            <div class="account">
                {% if current_user.type == 0 %}
                    <a href="{{ url_for('student_profile') }}">Профиль</a>
                    <a href="{{ url_for('logout') }}">Выход</a>
                {% elif current_user.type == 1 or current_user.type == 2 %}
                    <a href="{{ url_for('parent_profile') }}">Профиль</a>
                    <a href="{{ url_for('logout') }}">Выход</a>
                {% elif current_user.type == 3 %}
                    <a href="{{ url_for('teacher_profile') }}">Профиль</a>
                    <a href="{{ url_for('logout') }}">Выход</a>
                {% else %}
                    <a href="{{ url_for('login') }}">Вход</a>
                {% endif %}
            </div>
        </div>
        <div class="main">
            {% block main %}
            
            {% endblock %}
        </div>
    </body>
</html>